
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Horatio';
    src: url('./assets/fonts/Horatio.otf') format('opentype');
  }

@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/Helvetica_Neue_Regular.otf') format('opentype');
  }

/* styles.css */

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes prixClipFix {
  0%   { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); }
  25%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0); }
  50%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%); }
  75%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%); }
  100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0); }
}

.loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #003366;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #8ff0ff;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

/* .{
    color: rgb(11, 86, 166);
    color: rgb(187, 202, 229);
    color: rgb(55, 52, 53)
} */